body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  padding-right: 10%;
  padding-left: 10%;
}

a {
  color: #00B7FF;
}

#navbar {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar > a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}
